<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
  <div>
    <h1>Edit clock in/out in whole month</h1>
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th>Date</th>
          <th>Day</th>
          <th>Clock in</th>
          <th>Clock out</th>
          <th>Delete</th>
          <th>Hours</th>
          <th>Note</th>
        </tr>
      </thead>

      <tbody>
        <%= f.fields_for :attendances, @user.attendances.sort_by(&:work_on) do |attendance| %>
          <tr>
            <td><%= l(attendance.object.work_on, format: :short) %></td>
            <td><%= $days_of_the_week[attendance.object.work_on.wday] %></td>
            <td><%= attendance.time_field :clock_in, class: "form-control" %></td>
            <td><%= attendance.time_field :clock_out, class: "form-control" %></td>
            <% if @user.persisted? && attendance.object.clock_in && attendance.object.clock_out %>
              <td>
                <%= attendance.check_box :_destroy %>
                <%= attendance.label :_destroy, "Delete" %><br />
              </td>
            <% else %>
              <td></td>
            <% end %>
            <td>
              <% if attendance.object.clock_in.present? && attendance.object.clock_out.present? %>
                <%= str_times = working_times(attendance.object.clock_in, attendance.object.clock_out) %>
                <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
              <% end %>
            </td>
            <td><%= attendance.text_field :note, class: "form-control"%></td>
          </tr>
        <% end %>
        <%= link_to_add_fields "Add", f, :attendances %>
      </tbody>

    </table>
  </div>

  <div class="center">
    <%= f.submit "Update all", class: "btn btn-lg btn-primary" %>
    <%= link_to "Cancel", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
  </div>
<% end %>
